@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --red:#9E2629;
  --black:
}

#container {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width:100%;
  max-width: 1920px;
  background-color: black;
  color: white;
}

header {
  height: 160px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header img{
  margin-left: 9.5%;
  height:114px;
}

header ul {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  list-style: none;
  height: 80%;
  width: 40%;
  margin-right: 9.5%;
}

header ul li{
  margin: 1.3%;
  justify-content: center;
}

header ul li a{
  text-decoration: none;
  font-size: 25px;
  font-weight:bold;
  color:black;
}

nav{
  height: 91px;
  background-color: var(--red);
  display:flex;
  align-items: center;
  justify-content:flex-start;
}

nav a {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color:white;
  margin-left:8.9%;
}

footer {
  background-color: #666666;
  color: white;
}

.bestelticketsbtn{
  width:158px;
  background-color:white;
  padding-top: 1.9%;
  padding-bottom: 1.9%;
  color: var(--red);
}

.disclaimer{
  
}

.movieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  margin: 0 170px 0 170px;
  color: white;
}

.movieCard {
  height: 600px;
}

.movieCard img {
  height: 300px;
  width: 100%;
}

.movieCard button {
  position: relative;
  bottom: 0;
}

.ordermain {
  background-color: white;
  color: black;
}

.film_image {
  height: 1000px;
}