<div class="movieCard">
<img src="{{film_photo}}" width="100">
<div class="moviecardinfo">
<h4>{{film_title}}</h4>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star"></ion-icon>
<ion-icon name="star-half"></ion-icon>
<ion-icon name="star-outline"></ion-icon><br>
<h5>Release {{film_releasedate}}</h5><br>
{{film_shortinfo}}
</div>
<br>
  <button class="movieid' id="movieId-{{film_id}}" onClick="window.location.href='informatiepagina.php'">MEER INFO & TICKETS</button>
</div>